.row{
    display: flex;
    }
.column-100{
    width: 100%;
    }
.column-50{
    width: 50%;
    }
.column-25{
    width: 25%;
}
.estilos{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    }
