.row{
    display: flex;
    }
.column-100{
    width: 100%;
    }
.column-50{
    width: 50%;
    }
.column-25{
    width: 25%;
}
h1{
    color: rgb(41, 122, 123);
    font-size: 100px;

}
h4{
    font-size: 38px;
}
.estilos{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    }
h2{
    color: rgb(176, 163, 163);
}
img{
    border-radius: 7px;
}
.letra{
    color: white;
    background-color: black;
}
